nav img {
    height: 50px;
    width: auto;
}

.dropdown {
    min-width: 200px;
    align-items: center;
    justify-content: center;
}

.dropdown li {
    display: flex;
    align-items: center;
}

li img {
    height: 20px;
    width: auto;
    padding-left: 5px;
}

#main-page img {
    height:300px;
    width:auto;
    border-radius: 50px;
}
#main-page div {
    justify-content: center;
    text-align: center;
    align-items: center;
}

#main-page a {
    max-width: 300px;
}
